body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border-radius:10px;
  position:absolute;
}
.iron-man{
  background-image: url('img/iron-man.jpg');
  max-height: 100px;
  max-width: 100px;
}
.spider-man{
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -50px;
  float:left;
}

img {
  max-height: 100px;
  max-width : 100px;
}

@keyframes swing {
  0% { transform: rotate(100deg); }
  100% { transform: rotate(-100deg); }
}

.black-widow{
  background-image: url('img/black-widow.jpg');
  max-height: 100px;
  max-width: 100px;
}

.doctor-strange{
  background-image: url('img/doctor-strange.jpg');
  max-height: 100px;
  max-width: 100px;
}