body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url(/img/titan\ wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border-radius:10px;
  position:absolute;
}
.spider-man{
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -50px;
  float:left;
}

.doctor-strange {
  animation: distort ease-in-out 1s infinite alternate;
}


img {
  max-height: 100px;
  max-width : 100px;
}

@keyframes swing {
  0% { transform: rotate(100deg); }
  100% { transform: rotate(-100deg); }
}

@keyframes distort {
  0% { transform: skewX(10deg); opacity: 1; }
  50% { opacity: .7; }
  100% { transform: skewX(-10deg); opacity: 1; }
}

.speech-bubble {
  visibility: hidden;
  position: absolute;
  width: 120px;
  background-color: white;
  text-align: center;
  border-radius: 6px;
}


.black-widow img:hover + .speech-bubble {
  visibility: visible;
}

.thanos img {
  height: 300px;
  width: 450px;
}